@using StudentEnrollment.Shared.Models

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else 
if (!students.Any())
{
<p><em>No students found. Add one above.</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>StudentId</th>
                <th>StudentName</th>
                <th>StudentSurname</th>
                <th>StudentEmail</th>
                <th>StudentEmail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.StudentName</td>
                    <td>@student.StudentSurname</td>
                    <td>@student.StudentEmail</td>
                    <td>@student.StudentIDNumber</td>
                    <td>
                        <button class="btn btn-sm btn-warning" @onclick="() => EditStudent(student)">Edit</button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteStudent(student.StudentId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
